<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BABEL_CACHE_PATH" value="E:\DailyWorkFlow\AcmeInc\src\cache.json" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="99999999" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <iisnode 
   
    promoteServerVars="LOGON_USER" node_env="local" debuggerPortRange="5058-6058" debuggerPathSegment="debug" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="myutilities">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
